:root {
  font-family: 'Geist', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Scrollbar style */
::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-800 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-700;
}